{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
  <div class="d-flex container py-4 justify-content-center flex-wrap align-baseline gap-4">
    <div class="d-flex justify-content-center w-100">
      <h1 class="align-self-center display-1">Skaitļu spēle</h1>
    </div>
    <div class="d-flex justify-content-center w-100">
      <h2 class="align-self-center display-4">Virknes garums:</h2>
    </div>
    <form action="/options" method="POST" class="d-flex justify-content-between align-self-center w-75 gap-2">
      <input
        type="number"
        name="length"
        min="15"
        max="20"
        placeholder="enter...(15-20)"
        class="display-5 border-0 w-100 text-center"
        required
      />
      <button type="submit" class="btn btn-primary btn-lg align-baseline">Submit</button>
    </form>
  {% if error %}
    <div class="alert alert-danger mt-3 text-center">{{ error }}</div>
  {% endif %}
  </div>
  
{% endblock %}